In [1]:
import requests
from bs4 import BeautifulSoup
from xlwt import Workbook
import pandas as pd

In [2]:
STT = 0
wb = Workbook()
sheet1 = wb.add_sheet("crawl")
sheet1.write(0, 0, "STT")
sheet1.write(0, 1, "Toán")
sheet1.write(0, 2, "Ngữ văn")
sheet1.write(0, 3, "Ngoại ngữ")
sheet1.write(0, 4, "Vật lý")
sheet1.write(0, 5, "Hoa học")
sheet1.write(0, 6, "Sinh Hoc")
sheet1.write(0, 7, "Điểm KHTN")
sheet1.write(0, 8, "Lịch sử")
sheet1.write(0, 9, "Địa lý")
sheet1.write(0, 10, "GDCD")
sheet1.write(0, 11, "Điểm KHXH")

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36"
}
url = "https://thptquocgia.edu.vn/diemthi/?sbd="
starts = 52000001
end = 52013200

for i in range(starts,end):
    STT +=1
    SBD = i
    response = requests.get(url + str(i), headers=headers)

    soup = BeautifulSoup(response.text, "html.parser")
    try :
        table = soup.find("div" , class_="table-responsive")
        td_table = table.find_all("td")

        try:
            Toan = td_table[0].text
        except:
            Toan = "-1"
        
        try:
            Van = td_table[1].text
        except:
            Van = "-1"
        
        try:
            NN = td_table[2].text
        except:
            NN = "-1"
        
        try:
            Vl = td_table[3].text
        except:
            Vl = "-1"
        
        try:
            HH = td_table[4].text
        except:
            HH= "-1"
        
        try:
            Sh = td_table[5].text
        except:
            Sh = "-1"
        
    
        try:
            KHTN = td_table[6].text
        except:
            KHTN = "-1"
        
        try:
            Ls = td_table[7].text
        except:
            Ls = "-1"
        
        try:
            Dl = td_table[8].text
        except:
            Dl = "-1"
        
        try:
            GD = td_table[9].text
        except:
            GD = "-1"
        
        try: 
            KHXH = td_table[10].text
        except:
            KHXH = "-1"

        # print(Toan,Van,NN,Vl,HH)
        print(i)
        sheet1.write(int(STT), 0, SBD)
        sheet1.write(int(STT), 1, Toan)
        sheet1.write(int(STT), 2, Van)
        sheet1.write(int(STT), 3, NN)
        sheet1.write(int(STT), 4, Vl)
        sheet1.write(int(STT), 5, HH)
        sheet1.write(int(STT), 6, Sh)
        sheet1.write(int(STT), 7, KHTN)
        sheet1.write(int(STT), 8, Ls)
        sheet1.write(int(STT), 9, Dl)
        sheet1.write(int(STT), 10, GD)
        sheet1.write(int(STT), 11, KHXH)

        wb.save("d.xls")
    except:
        pass

52000001
52000002
52000003
52000004
52000005
52000006

In [ ]:
df = pd.read_excel("Test.xls")
df.head(5)

,STT,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hoa học,Sinh Hoc,Điểm KHTN,Lịch sử,Địa lý,GDCD,Điểm KHXH
0,52000080,6.4,7.50,4.4,NaN,NaN,NaN,NaN,4.0,6.25,9.00,6.41
1,52000081,8.0,6.25,8.0,6.5,7.50,6.00,6.66,NaN,NaN,NaN,NaN
2,52000082,8.0,6.50,8.0,8.0,7.75,6.25,7.33,NaN,NaN,NaN,NaN
3,52000083,4.6,8.00,8.2,NaN,NaN,NaN,NaN,6.0,7.00,9.25,7.41
4,52000084,6.8,8.00,8.6,NaN,NaN,NaN,NaN,4.0,6.75,8.75,6.50